body, html {
      
      padding-top: 2.1%;
}
h1{
      color: #f7f731bb;
}
nav{
      margin-bottom: 10%;
      background:rgba(147, 148, 89, 0.767);
}
body, p, input, select, textarea, button {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: -0.2px;
      font-size: 16px;
      height: 100%;
      max-height: 100%;
      background-color: #1B262C !important;
      margin-bottom: 75px;
}
div, p {
      color: #f7f731bb;
      text-shadow: 1px 1px 1px rgba(147, 148, 89, 0.767);
}
::placeholder{
      color: #364a55;
}

form {
      padding: 16px;
      padding-top: 0%;
      width: 650px;
      margin: auto auto;
      border-radius: 6px;
      background: #1B262C;
      box-shadow:  5px 5px 15px #10171b,
                   -5px -5px 15px #26353d
}
/* .form>*:nth-child(1),
.form>*:nth-child(1)
{
      width:325px !important;
} */

.segment {
      padding: 25px 0;
      text-align: center;
}
#inline{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
}
button, input {
      border: 0;
      outline: 0;
      font-size: 16px;
      border-radius: 320px;
      padding: 16px;
      background-color: #1B262C;
      /* text-shadow: 1px 1px 0 rgb(0, 0, 0); */
}
label {
      display: block;
      margin-bottom: 24px;
      width: 100%;
}
input {
      margin-right: 8px;
      box-shadow: inset 5px 5px 15px #10171b,
                  inset -5px -5px 15px #26353d;
      width: 100%;
      box-sizing: border-box;
      transition: all 0.2s ease-in-out;
      appearance: none;
      -webkit-appearance: none;
      color: #d2ebfc
}
input:focus {
      box-shadow: inset 1px 1px 2px #121a1f, inset -1px -1px 2px #1f2930;
      caret-color: #6bc4ff;
      color: #d2ebfc;
}
.row{
      display: flex;
}
.column{
      flex: 50%;
}
button {
      /* color: #61677c; */
      font-weight: bold;
      background: linear-gradient(145deg, #1d292f, #182228);
      box-shadow:  5px 5px 15px #10171b, 
                   -5px -5px 15px #26353d;
      /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #121a1f; */
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      font-weight: 600;
      margin-bottom:5px;
}
button:hover {
      box-shadow: -2px -2px 5px 1f2930, 2px 2px 5px #121a1f;
}
button:active {
      box-shadow: inset 1px 1px 2px #121a1f, inset -1px -1px 2px rgb(26, 26, 26);
}
button .icon {
      margin-right: 8px;
}
button.unit {
      border-radius: 8px;
      line-height: 0;
      width: 48px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      font-size: 19.2px;
}
button.unit .icon {
      margin-right: 0;
}
button.red {
      display: block;
      width: 100%;
      color: #f7f731bb;
      letter-spacing: 1px;
}
.input-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
.input-group label {
      margin: 0;
      flex: 1;
}

input:-webkit-autofill {
      background: #fff;
     -webkit-box-shadow: 0 0 0px 100px #DBEAFE00 inset;
}
footer{
      position:static;
      left:10px;
      bottom: 0px;
      height:75px;
      width:100%;
      background:#1b262c00;
      padding-top: 0px;
      /* padding-bottom: 100px !important; */
      align-items: center;
}
::-webkit-scrollbar-track-piece {
      background: #1B262C;
      color: #1B262C;
}
::-webkit-scrollbar-thumb{
      background-color: #1B262C;
      color: #1B262C;
}